body {
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: $color-primary ;
}

p {
    color: white;
    font-family: $font-text;
}

h1 {
    color: white;
    font-family: $font-title;
}

h2 {
    color: white;
    font-family: $font-title;
}