body {
    background-color: $color-primary ;
    margin: 0;
}

p {
    color: white;
    font-family: $font-text;
}

h1 {
    color: white;
    font-family: $font-title;
}

h2 {
    color: white;
    font-family: $font-title;
}